body, html {
    margin: 0;
    padding: 0; 
    font-family: rawline, sans-serif !important;
    font-size: 20px;        
    font-weight: lighter;  
    margin-top: 5px;    
    flex-direction: column;
    flex-wrap: wrap; 
}
.headerText{
    text-align: left;
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
}
.grid_1{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 10px;
    display: grid; 
    margin-left: 150px;   
    margin-right: 150px;
   
}
.rotulo{
    display: block;    
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    width: auto;
    background: lightgray;     
    color: black;
    border: 0px solid blue;
    border-radius: 15px;    
    line-height: 1;    
}

.imagem{
    width: 100%; 
    height: auto; 
    max-width: 200px; 
    max-height: 200px; 
}
.logo{
    width: 100%; 
    height: auto; 
    max-width: 125px; 
    max-height: 125px;
}
a{
    width: 100%; 
    height: auto; 
    max-width: 200px; 
    max-height: 200px; 
}

.imagem:hover{
    transform: scale(1.15);
}

.barra{
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: #28346c;
    color: white;
    
    text-decoration: none;
}
.barra a {
    text-decoration: none;
    padding: 20px;
}

.container {
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: #28346c;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    width: 100%;
}

footer{
    padding: 25px;
}